@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");

body {
  font-family: "roboto", sans-serif;
}
.nav {
  background-color: teal;
  display: flex;
  margin-bottom: 2rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin: auto;
  border: 1px solid #d6e6f2;
  border-radius: 5px;

  .title {
    font-family: "Raleway";
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d6e6f2;
    h2 {
      flex: 1 1 0px;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1.5rem 0rem;
      cursor: pointer;

      // &:first-of-type {
      //   border-right: 1px solid #d6e6f2;
      // }
      &:hover,
      &:active {
        background-color: #f7fbfc;
        color: #0061a8;
      }
    }
  }
  .render {
    background-color: #f7fbfc;
    color: #0061a8;
    border: 3px solid #d6e6f2;
  }

  .polls {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

.poll-preview {
  border: 1px solid #d6e6f2;
  border-radius: 4px;
  margin: 1rem 1rem 1rem 0rem;

  .poll-header {
    font-size: 1.25rem;
    border-bottom: 1px solid #d6e6f2;
    background-color: #f7fbfc;

    text-align: start;
    padding: 1rem 0rem 1rem 1rem;
  }
  .poll-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // padding: 1rem;

    .avatar {
      flex: 1;
      // border-right: 1px solid #d6e6f2;
      display: flex;
      justify-content: center;

      .avatar-img {
        width: 100px;
      }
    }

    .poll-details {
      flex: 3;
      padding-left: 1rem;
      margin: 1rem 1rem 1rem 0rem;
      border-left: 1px solid #d6e6f2;
      h3 {
        font-size: 1.25rem;
        padding: inherit;
        text-align: start;
      }
      p {
        padding: 1rem 0.5rem;
        text-align: start;
        font-style: italic;
      }

      button {
        border-color: #00917c;
        color: #00917c;

        &:hover {
          color: white;
          background-color: #00917c;
          border-color: #00917c;
        }
      }
    }
  }
}

.poll {
  border: 1px solid #d6e6f2;
  border-radius: 4px;
  margin: 1rem;
  width: 50vw;
  margin: auto;

  .poll-header {
    font-size: 1.25rem;
    border-bottom: 1px solid #d6e6f2;
    background-color: #f7fbfc;

    text-align: start;
    padding: 1rem 0rem 1rem 1rem;
  }
  .poll-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    // padding: 1rem;

    .avatar {
      flex: 1;
      // border-right: 1px solid #d6e6f2;
      display: flex;
      justify-content: center;
      padding: 2rem 0.5rem;

      .avatar-img {
        width: 120px;
      }
    }

    .poll-details {
      flex: 3;
      padding-left: 1rem;
      margin: 1rem 1rem 1rem 0rem;
      border-left: 1px solid #d6e6f2;
      h3 {
        font-size: 2rem;
        padding: 0.5rem;
        text-align: start;
      }
      .options {
        padding: 0.5rem;
        text-align: start;
        font-style: italic;

        .option {
          display: block;
          padding: 0.5rem 0rem;
          cursor: pointer;

          input {
            margin-right: 0.5rem;
          }
        }
      }

      button {
        border-color: #00917c;
        color: #00917c;

        &:hover {
          color: white;
          background-color: #00917c;
          border-color: #00917c;
        }
      }
    }
  }
}

.poll-results {
  border: 1px solid #d6e6f2;
  border-radius: 4px;
  margin: 1rem;
  width: 50vw;
  margin: auto;

  .poll-header {
    font-size: 1.25rem;
    border-bottom: 1px solid #d6e6f2;
    background-color: #f7fbfc;

    text-align: start;
    padding: 1rem 0rem 1rem 1rem;
  }
  .poll-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    // padding: 1rem;

    .avatar {
      flex: 1;
      // border-right: 1px solid #d6e6f2;
      display: flex;
      justify-content: center;
      padding: 2rem 0.5rem;

      .avatar-img {
        width: 120px;
      }
    }

    .poll-details {
      flex: 3;
      padding-left: 1rem;
      margin: 1rem 1rem 1rem 0rem;
      border-left: 1px solid #d6e6f2;

      h3 {
        font-size: 2rem;
        text-align: start;
        margin-bottom: 1rem;
      }

      .option {
        border: 1px solid #00917c;
        border-radius: 3px;
        background-color: #eaffd0;
        padding: 1rem;
        text-align: center;
        position: relative;

        .vote-flag {
          position: absolute;
          left: 95%;
          top: -20%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          line-height: 100%;
          border-radius: 50%;
          background-color: #ffc107;
          color: white;
          font-style: italic;
        }
        .option-text {
          color: #00917c;
          text-align: start;
          padding-bottom: 0.5rem;
        }
        .result-progress {
          padding: 0.5rem 0rem;

          .progress {
            background-color: #cfdac8;
          }
          .progress-bar {
            background-color: #00917c;
          }
        }

        .option-result {
          color: #393e46;
          font-weight: 600;
        }

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.billboard {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #d6e6f2;
  border-radius: 4px;
  margin: 1rem;
  width: 50vw;
  margin: auto;
  justify-content: space-between;
  position: relative;

  .triangle-topleft {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 3rem solid #d6e6f2;
    border-right: 3rem solid transparent;
    .trophy {
      position: absolute;
      font-size: 1.25rem;
      top: -45px;
      left: 5px;
    }
  }
  .avatar {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;

    .avatar-img {
      width: 120px;
    }
  }

  .stats {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin: 1rem 1rem 1rem 0rem;
    border-left: 1px solid #d6e6f2;
    border-right: 1px solid #d6e6f2;

    h2 {
      font-size: 2rem;
      text-align: start;
      // margin-bottom: 1rem;
    }
    p {
      span {
        padding-left: 3rem;
      }
    }
  }

  .score {
    flex: 1;
    border: 1px solid #d6e6f2;
    margin: 1rem 1rem 1rem 0rem;
    display: flex;
    flex-direction: column;

    .score-title {
      font-weight: 600;
      text-align: center;
      padding: 1rem 0rem;
      border-bottom: 1px solid #d6e6f2;
    }

    .score-count {
      font-size: 1.5rem;
      color: white;
      margin: auto;
      background-color: #00917c;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      border-radius: 50%;
      text-align: center;
    }
  }
  &:first-of-type {
    .triangle-topleft {
      .trophy {
        color: #ffc107;
      }
    }
  }
  &:nth-of-type(2) {
    .triangle-topleft {
      .trophy {
        color: #cd7f32;
      }
    }
  }
  &:nth-of-type(3) {
    .triangle-topleft {
      .trophy {
        color: grey;
      }
    }
  }
}

.new-poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  margin: auto;
  border: 1px solid #d6e6f2;
  border-radius: 5px;

  .header {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #d6e6f2;
    background-color: #f7fbfc;
    text-align: center;
    padding: 1rem;
  }

  .question-details {
    padding: 1rem;

    h3 {
      padding-top: 1rem;
      font-size: 1.25rem;
      font-weight: 500;
    }

    form {
      text-align: center;

      input {
        display: block;
        width: 100%;
        border: 1px solid #d6e6f2;
        border-radius: 5px;
        margin: 1rem 0rem;
        padding: 0.75rem;
      }
      p {
        font-size: 1.25rem;

        &::before,
        &::after {
          display: inline-block;
          content: "";
          border-top: 0.1rem solid #cfdac8;
          width: 40%;
          // margin: 0 1rem;
          transform: translateY(-0.3rem);
        }

        span {
          margin: 0 1rem;
        }
      }
      button {
        border-color: #00917c;
        color: #00917c;

        &:hover {
          color: white;
          background-color: #00917c;
          border-color: #00917c;
        }
      }
    }
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  margin: auto;
  border: 1px solid #d6e6f2;
  border-radius: 5px;
  .title {
    border-bottom: 1px solid #d6e6f2;
    background-color: #f7fbfc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;

    img {
      width: 30%;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 1rem 0rem;
    }
  }

  .accounts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 1rem 0rem 1rem;

    .account {
      text-align: center;
      padding: 0.5rem;
      transition: all 0.1s ease-out;

      .avatar-img {
        width: 7rem;
        margin: 0.5rem;
        border-radius: 50%;
        cursor: pointer;
      }

      &:hover {
        background-color: #dbf6e9;
        border-radius: 15px;
        box-shadow: 0 0 2px 3px #dbf6e9;
        color: #00917c;
        font-size: 1.25rem;
      }
    }

    .selected {
      background-color: #dbf6e9;
      border-radius: 15px;
      box-shadow: 0 0 2px 3px #dbf6e9;
      color: #00917c;
      font-size: 1.25rem;
    }
  }
  .submit {
    padding: 1rem;
    button {
      border-color: #00917c;
      color: #00917c;

      &:hover {
        color: white;
        background-color: #00917c;
        border-color: #00917c;
      }
      &:active {
        box-shadow: 0 0 0 0.2rem #9ddfd3;
      }
    }
  }
}
